# ========================
# Logs
# ========================
logs/
*.log
log-zone*

# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo

# ========================
# IDEs
# ========================
.idea/

# ========================
# Simulator / runtime
# ========================
*/__pycache__/
*.tmp

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

